<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initialscale=1">
<title>House Name Check</title>
<link rel="icon" type="image/png" href="<%= process.env.iisnodeRoute %>/public/src/img/map-512.png">

<!-- inject:css -->
<link rel="stylesheet" href="<%= process.env.iisnodeRoute %>/public/dist/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="<%= process.env.iisnodeRoute %>/public/src/css/node-custom.css">
<!-- endinject -->

<!-- inject:js -->
<script src="<%= process.env.iisnodeRoute %>/public/dist/jquery.min.js"></script>
<script src="<%= process.env.iisnodeRoute %>/public/dist/angular.min.js"></script>
<!-- endinject -->

<style>
	body { 
		padding-top:0px; 
	}
</style>